<html>
   <H2 ALIGN="CENTER">
      <FONT COLOR="#336699">Create Database - Summary</FONT>
   </H2>
   <H3 ALIGN="LEFT">
      <FONT COLOR="#336699">Database Configuration Summary</FONT>
   </H3>
   <table border="0">
      <tr>
         <td align="right">
            <b>
               <FONT Face="ARIAL" Size="2" COLOR="#336699">Global Database Name:</FONT>
            </b>
         </td>
         <td>
            <FONT Face="ARIAL" Size="2">testdb</FONT>
         </td>
      </tr>
      <tr>
         <td align="right">
            <b>
               <FONT Face="ARIAL" Size="2" COLOR="#336699">Database Configuration Type: </FONT>
            </b>
         </td>
         <td>
            <FONT Face="ARIAL" Size="2">Single Instance</FONT>
         </td>
      </tr>
      <tr>
         <td align="right">
            <b>
               <FONT Face="ARIAL" Size="2" COLOR="#336699">SID:</FONT>
            </b>
         </td>
         <td>
            <FONT Face="ARIAL" Size="2">testdb</FONT>
         </td>
      </tr>
      <tr>
         <td align="right">
            <b>
               <FONT Face="ARIAL" Size="2" COLOR="#336699">Management Option Type: </FONT>
            </b>
         </td>
         <td>
            <FONT Face="ARIAL" Size="2">None</FONT>
         </td>
      </tr>
      <tr>
         <td align="right">
            <b>
               <FONT Face="ARIAL" Size="2" COLOR="#336699">Storage Type:</FONT>
            </b>
         </td>
         <td>
            <FONT Face="ARIAL" Size="2">File System</FONT>
         </td>
      </tr>
      <tr>
         <td align="right">
            <b>
               <FONT Face="ARIAL" Size="2" COLOR="#336699">Memory Configuration Type: </FONT>
            </b>
         </td>
         <td>
            <FONT Face="ARIAL" Size="2">Automatic Memory Management</FONT>
         </td>
      </tr>
   </table>
   <H3 ALIGN="LEFT">
      <FONT COLOR="#336699">Database Configuration Details</FONT>
   </H3>
   <H4>
      <FONT COLOR="#336699">Database Components</FONT>
   </H4>
   <table BORDER="1">
      <TH BGCOLOR="#cccc99">
         <FONT FACE="ARIAL" COLOR="#336699" SIZE="2">Component</FONT>
      </TH>
      <TH BGCOLOR="#cccc99">
         <FONT FACE="ARIAL" COLOR="#336699" SIZE="2">Selected</FONT>
      </TH>
      <tbody>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">
Oracle JVM</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2"> 
true</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">
Oracle Text</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2"> 
true</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">
Oracle XML DB</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2"> 
true</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">
Oracle Multimedia</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2"> 
true</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">
Oracle OLAP</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2"> 
false</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">
Oracle Spatial</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2"> 
true</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">
Oracle Label Security</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2"> 
false</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">
Sample Schemas</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2"> 
true</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">
Enterprise Manager Repository</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2"> 
true</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">
Oracle Application Express</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2"> 
true</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">
Oracle Warehouse Builder</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2"> 
true</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">
Oracle Database Vault</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2"> 
false</FONT>
            </TD>
         </tr>
      </tbody>
   </table>
   <H4>
      <FONT COLOR="#336699">Initialization Parameters</FONT>
   </H4>
   <table BORDER="1">
      <TH BGCOLOR="#cccc99">
         <FONT FACE="ARIAL" COLOR="#336699" SIZE="2">Name</FONT>
      </TH>
      <TH BGCOLOR="#cccc99">
         <FONT FACE="ARIAL" COLOR="#336699" SIZE="2">Value</FONT>
      </TH>
      <tbody>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">audit_file_dest</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">{ORACLE_BASE}/admin/{DB_UNIQUE_NAME}/adump</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">audit_trail</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">db</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">compatible</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">11.2.0.0.0</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">control_files</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">("/home/oracle/app/oracle/testdb_data12/{DB_UNIQUE_NAME}/control01.ctl", "{ORACLE_BASE}/flash_recovery_area/{DB_UNIQUE_NAME}/control02.ctl")</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">db_block_size</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">8KB</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">db_domain</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2"/>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">db_name</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">testdb</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">db_recovery_file_dest</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">{ORACLE_BASE}/flash_recovery_area</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">db_recovery_file_dest_size</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">3882MB</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">diagnostic_dest</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">{ORACLE_BASE}</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">dispatchers</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">(PROTOCOL=TCP) (SERVICE={SID}XDB)</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">log_archive_format</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">%t_%s_%r.dbf</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">memory_target</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">1083MB</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">open_cursors</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">300</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">processes</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">150</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">remote_login_passwordfile</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">EXCLUSIVE</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">undo_tablespace</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">UNDOTBS1</FONT>
            </TD>
         </tr>
      </tbody>
   </table>
   <H4>
      <FONT COLOR="#336699">Character Sets</FONT>
   </H4>
   <table BORDER="1">
      <TH BGCOLOR="#cccc99">
         <FONT FACE="ARIAL" COLOR="#336699" SIZE="2">Name</FONT>
      </TH>
      <TH BGCOLOR="#cccc99">
         <FONT FACE="ARIAL" COLOR="#336699" SIZE="2">Value</FONT>
      </TH>
      <tbody>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">
Database Character Set</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2"> 
WE8MSWIN1252
</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">
National Character Set</FONT>
            </TD>
            <TD ALIGN="CENTER" BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2"> 
AL16UTF16
</FONT>
            </TD>
         </tr>
      </tbody>
   </table>
   <H4>
      <FONT COLOR="#336699">Data Files</FONT>
   </H4>
   <table BORDER="1">
      <TH BGCOLOR="#cccc99">
         <FONT FACE="ARIAL" COLOR="#336699" SIZE="2">Name</FONT>
      </TH>
      <TH BGCOLOR="#cccc99">
         <FONT FACE="ARIAL" COLOR="#336699" SIZE="2">Tablespace</FONT>
      </TH>
      <TH BGCOLOR="#cccc99">
         <FONT FACE="ARIAL" COLOR="#336699" SIZE="2">Size(M)</FONT>
      </TH>
      <tbody>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">/home/oracle/app/oracle/testdb_data12/{DB_UNIQUE_NAME}/system01.dbf</FONT>
            </TD>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">SYSTEM</FONT>
            </TD>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">670</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">/home/oracle/app/oracle/testdb_data12/{DB_UNIQUE_NAME}/sysaux01.dbf</FONT>
            </TD>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">SYSAUX</FONT>
            </TD>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">440</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">/home/oracle/app/oracle/testdb_data12/{DB_UNIQUE_NAME}/undotbs01.dbf</FONT>
            </TD>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">UNDOTBS1</FONT>
            </TD>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">25</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">/home/oracle/app/oracle/testdb_data12/{DB_UNIQUE_NAME}/users01.dbf</FONT>
            </TD>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">USERS</FONT>
            </TD>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">5</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">/home/oracle/app/oracle/testdb_data12/{DB_UNIQUE_NAME}/temp01.dbf</FONT>
            </TD>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">TEMP</FONT>
            </TD>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">20</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">
/home/oracle/app/oracle/testdb_data12/{DB_UNIQUE_NAME}/example01.dbf</FONT>
            </TD>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">
EXAMPLE</FONT>
            </TD>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">
130</FONT>
            </TD>
         </tr>
      </tbody>
   </table>
   <H4>
      <FONT COLOR="#336699">Control Files</FONT>
   </H4>
   <table BORDER="1">
      <TH BGCOLOR="#cccc99">
         <FONT FACE="ARIAL" COLOR="#336699" SIZE="2">Name</FONT>
      </TH>
      <tbody>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">/home/oracle/app/oracle/testdb_data12/{DB_UNIQUE_NAME}/control01.ctl</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">{ORACLE_BASE}/flash_recovery_area/{DB_UNIQUE_NAME}/control02.ctl</FONT>
            </TD>
         </tr>
      </tbody>
   </table>
   <H4>
      <FONT COLOR="#336699">Redo Log Groups</FONT>
   </H4>
   <table BORDER="1">
      <TH BGCOLOR="#cccc99">
         <FONT FACE="ARIAL" COLOR="#336699" SIZE="2">Group</FONT>
      </TH>
      <TH BGCOLOR="#cccc99">
         <FONT FACE="ARIAL" COLOR="#336699" SIZE="2">Size(K)</FONT>
      </TH>
      <tbody>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">1</FONT>
            </TD>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">51200</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">2</FONT>
            </TD>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">51200</FONT>
            </TD>
         </tr>
         <tr>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">3</FONT>
            </TD>
            <TD BGCOLOR="#f7f7e7">
               <FONT FACE="ARIAL" SIZE="2">51200</FONT>
            </TD>
         </tr>
      </tbody>
   </table>
</html>
